.DS_Store
__pychache__/

# ignore pdf reports and rendered html
*.pdf
*.html

# AI 
.claude

# local directories
references/
output/
code/archive
code/__pycache__/
output_ucmc/
output_mimic/
config/config_ucmc.json
# temp ignored
config_mimic.json
METHODOLOGY.md
shared/
code/ohca_training.py
all_site_data/
code/test_adjusted_concordance.py
notebook/archive/
docs/
output_notebooks/
config/ohca_rl_config_local.yaml
output_training/
shared_old/